.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #343334;
}

.container {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.timer_second {
  width: 480px;
  height: 480px;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
  z-index: 8;
  position: relative;
}

.timer_second::before {
  content: '';
  display: block;
  width: 480px;
  height: 480px;
  background-color: #7b8f67;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  animation: timer_second_before 60s steps(1, end) infinite;
  visibility: hidden;
}

.timer_second::after {
  content: '';
  display: block;
  width: 50%;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  animation: timer_second_after 60s steps(1, end) infinite;
  visibility: visible;
}

@keyframes timer_second_before {
  0% {
    visibility: hidden;
  }

  50%,
  100% {
    visibility: visible;
  }
}

@keyframes timer_second_after {
  0% {
    visibility: visible;
  }

  50%,
  100% {
    visibility: hidden;
  }
}

.timer_second_counter {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #343334;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.timer_second_count {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 110px;
  left: 50%;
  z-index: 2;
  animation: timer_second_count 60s steps(59, end) infinite;
}

.timer_second_count span::before {
  content: ':';
  display: block;
}

@keyframes timer_second_count {
  0% {
    transform: translate(-5%, 60px);
  }

  100% {
    transform: translate(-5%, -17650px);
  }
}

.timer_second_count span {
  display: flex;
  justify-content: center;
  height: 300px;
}


.timer_second_line {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: rotate(170deg);
  animation: timer_second_line 60s linear infinite;
}

.timer_second_line::before {
  content: '';
  display: block;
  background-color: #7b8f67;
  width: 50%;
  height: 100%;
  left: 50%;
  position: absolute;
}


@keyframes timer_second_line {
  0% {
    transform: rotate(-180deg);

  }

  100% {
    transform: rotate(180deg);
  }
}

.timer_big_radius {
  position: absolute;
  width: 540px;
  height: 540px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 4;
}

.timer_big_radius_counter {
  content: '';
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 520px;
  height: 520px;
  background-color: #343334;
  border-radius: 50%;
  z-index: 3;
}

.timer_big_radius_line {
  width: 100%;
  height: 100%;
  animation: timer_minute_line 1s linear infinite;
}


@keyframes timer_minute_line {
  0% {
    transform: rotate(-0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.timer_big_radius_line::after {
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background-color: #757575;
  position: absolute;
}


.timer_minute_count {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 110px;
  right: 50%;
  z-index: 2;
  animation: timer_second_count 3540s steps(59, end) infinite;
}


@keyframes timer_second_count {
  0% {
    transform: translate(-5%, 70px);
  }

  100% {
    transform: translate(-5%, -17630px);
  }
}

.timer_minute_count span {
  display: flex;
  justify-content: center;
  height: 300px;
}

@media (max-width: 768px) {
  span{
    font-size: 90px;
  }
  .timer_second {
    width: 300px;
    height: 300px;
  }
  .timer_second_counter {
    width: 280px;
    height: 280px;
  }

  .timer_big_radius {
    width: 340px;
    height: 340px;
  }
  .timer_big_radius_counter {
    width: 320px;
    height: 320px;
  }
}